.profile-popup__form {
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .profile-popup__form {
    padding: 25px 22px;
  }
}
